*{
		margin:0;
		padding:0;
}
body{
		width:960px;
		margin:0 auto;
		overflow:hidden;
}
#menu{
		width:260px;
		float:left;
}
#section{
		width:700px;
		float:right;
}
li{
		list-style: none;
}